*{
  margin: 0;
  padding:0;
}

body {
  color:#FFFFFF;
  color:#E5E059;
  color:#BDD358;
  color:#999799;
  color:#E5625E;
  /* padding:20px; */
  color:rgb(32, 32, 32);
  background: #E5625E;
  overflow-y: hidden;
  font-family: 'Roboto', sans-serif;
}

#root{
  background: #FFFFFF;
  padding:30px 20px;
  height: 100vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Search */
.search-form{
  background-color: #f1f1f1;
  padding: 10px 5px;
  border-radius: 20px;
  height: 50px;
  position: relative;
}
.input-icon{
  float: left;
  position: relative;
  height: 100%;
  width: 20%;
}
.search-form i{
  position: absolute;
  top: 50%;
  left: 50%;
  color: #999799;
  font-size: 13px;
  transform: translate(-50%, -50%);
  text-align: center;
}
.search-form input{
  position: relative;
  background-color: transparent;
  border: none;
  width: 80%;
  font-size: 14px;
  height: 100%;
}
.search-form input:focus{
  border: none;
  outline: none;
}

/* Single Password */
.single-password{
  margin: 10px 0;
}

.icon-col{
  border-radius: 1000px;
  height: 45px;
  position: relative;
  text-align: center;
  padding: 0;
}

.icon-col img{
  width: 45px;
  
}

.website-name-col{
  position: relative;
  padding:3px;
}
.website-name{
  margin: 0;
  font-weight: 700;
  font-size: 14px;
}
.added-time{
  margin: 0;
  color: #999799;
  font-size: 12px;
}

/* Password List */
.password-list{
  margin: 10px auto;
  padding: 10px 0;
  height: calc(500px - 50px);
  overflow-y: scroll;
}


/* Navbar  */
.navbar{
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 50px;
  transform: translate(-50%, 0);
  width: 100%;
  background-color:red;
}

/*All Passwords Page*/
.app-title{
  font-size: 20px;
  margin: 10px auto 20px auto;
}
