/* width */
::-webkit-scrollbar {
  width: 0px;
}

* {
  margin: 0;
  padding: 0;
}

input[type="password"] {
  -webkit-text-security: disc;
  font-size: 20px;
}

body {
  background-color: #131112;
  color: #E8F1F2;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 700px) {
  body {
    background-color: #E8F1F2;
  }
}

.app {
  max-height: 100vh;
  overflow-y: scroll;
  padding: 0 25px;
}

@media (min-width: 700px) {
  .app {
    width: 500px;
    margin: 0 auto;
    background-color: #131112;
    height: 100vh;
  }
}

.login-text {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}

.list-title,
.main-title {
  text-transform: uppercase;
  font-size: 22px;
  margin-top: 100px;
  letter-spacing: 2px;
  color: #2e8cd4;
  font-weight: 400;
}

.list-title {
  margin-top: 50px !important;
}

.slick-form {
  width: 100%;
  margin-top: 50px;
}

.slick-form label {
  text-transform: uppercase;
  color: #444;
  font-size: 13px;
  letter-spacing: 2px;
}

.slick-form input {
  display: block;
  background: transparent;
  border: none;
  border-bottom: 1px solid #444;
  height: 30px;
  color: #E8F1F2;
  padding: 0 10px 5px 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: 30px;
}

.slick-form input:focus {
  outline: none;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-bottom: 1px solid #2e8cd4;
}

.slick-form .input-master-div {
  margin-bottom: 30px;
  border-bottom: 1px solid #444;
}

.slick-form .input-master-div .input-div {
  width: 100%;
  margin: auto 0;
}

.slick-form .input-master-div .input-div .input-col {
  padding: 0;
}

.slick-form .input-master-div .input-div .input-col input {
  display: inline;
  width: 100%;
  margin-bottom: 0;
  border: none;
}

.slick-form .input-master-div .input-div .input-col input:focus {
  outline: none;
  border: none;
}

.slick-form .input-master-div .input-div i {
  width: 30px;
  color: #444;
  height: 30px;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slick-form .input-master-div .input-div i:hover {
  color: #2e8cd4 !important;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.highlight {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-bottom: 1px solid #2e8cd4 !important;
}

.highlight .fa,
.highlight label {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #2e8cd4 !important;
}

.slick-button {
  width: 100%;
  border: none;
  background: #444;
  padding: 20px auto;
  height: 40px;
  color: #E8F1F2;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: bold;
  margin: 10px auto;
  cursor: pointer;
}

.pass-detail-div,
.search-bar-div {
  width: 100%;
  padding: 20px 0;
}

.pass-detail-div .pass-detail-container,
.pass-detail-div .search-bar-container,
.search-bar-div .pass-detail-container,
.search-bar-div .search-bar-container {
  background-color: #444;
  padding: 0 5px;
  border-radius: 10px;
}

.pass-detail-div .pass-detail-container input,
.pass-detail-div .search-bar-container input,
.search-bar-div .pass-detail-container input,
.search-bar-div .search-bar-container input {
  width: 100%;
  height: 50px;
  background: #444;
  border: none;
  border-radius: 10px;
  padding: 0 15px;
  color: #fff;
  position: relative;
  letter-spacing: 2px;
}

.pass-detail-div .pass-detail-container input:focus,
.pass-detail-div .search-bar-container input:focus,
.search-bar-div .pass-detail-container input:focus,
.search-bar-div .search-bar-container input:focus {
  outline: none;
  border: none;
}

.pass-detail-div .pass-detail-container button,
.pass-detail-div .search-bar-container button,
.search-bar-div .pass-detail-container button,
.search-bar-div .search-bar-container button {
  position: relative;
  right: 20px;
  border: none;
  background: transparent;
  height: 50px;
  width: 50px;
}

.pass-detail-div .pass-detail-container button i,
.pass-detail-div .search-bar-container button i,
.search-bar-div .pass-detail-container button i,
.search-bar-div .search-bar-container button i {
  color: #2e8cd4;
}

.pass-detail-div .pass-detail-container button,
.search-bar-div .pass-detail-container button {
  right: auto;
  left: 0;
}

.pass-detail-div {
  padding-bottom: 0;
}

.passlist {
  padding: 10px;
}

.passlist a {
  color: #E8F1F2 !important;
}

.passlist a:hover {
  color: #2e8cd4 !important;
}

.single-pass {
  margin: 20px auto 20px auto;
  padding-bottom: 20px;
  cursor: pointer;
  border-bottom: 1px solid #444;
}

.single-pass .icon-div {
  padding: 0;
  height: 50px;
  text-align: center;
}

.single-pass .icon-div img {
  height: 100%;
  border-radius: 50px;
}

.single-pass .title-div {
  padding: 0;
}

.single-pass .title-div p {
  padding: 0 20px;
  position: absolute;
  top: 50%;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.single-pass .copy-button-div {
  padding: 0;
}

.single-pass .copy-button-div i {
  padding: 0 20px;
  position: absolute;
  top: 50%;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.add-pass-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  height: 50px;
}

.add-pass-button i {
  border: 2px solid #E8F1F2;
  border-radius: 50px;
  width: 100%;
  text-align: center;
  font-size: 26px;
  height: 100%;
  padding: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
  background-color: #2e8cd4;
}

.add-pass-button i:hover {
  background: #2e8cd4;
  color: #E8F1F2 !important;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.delete-button {
  background: #c71717 !important;
}

.delete-button:hover {
  background: #c71717 !important;
}

.delete-button:hover {
  background: #a71616 !important;
}

.edit-button,
.send-button,
.close-button {
  color: #2e8cd4;
  border: 2px solid #E8F1F2;
  height: 50px;
  padding-top: 10px;
  width: 50px;
  font-size: 20px;
  text-align: center;
  border-radius: 30px;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.edit-button,
.send-button {
  left: auto;
  right: 10px;
}

.edit-button:hover,
.send-button:hover,
.close-button:hover {
  background-color: #2e8cd4;
  color: #E8F1F2;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/*# sourceMappingURL=style.css.map */